<section class="form_wrapper mat-elevation-z8">
  <h1>Розрахунок вартості квартир</h1>
  <form class="form" [formGroup]="form">
    <div class="row">
      <mat-form-field class="select">
        <mat-label>Оберіть район розташування</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions()" [value]="region.index">{{region.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="select">
        <mat-label>Оберіть, чи є поряд метро</mat-label>
        <mat-select formControlName="metro">
          <mat-option value='1'>Так</mat-option>
          <mat-option value="0">Ні</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Поверх розташування</mat-label>
        <input matInput formControlName="roomFloor">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Кількість поверхів у будинку</mat-label>
        <input matInput formControlName="allFloors">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Кількість кімнат</mat-label>
        <input matInput formControlName="rooms">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Загальна площа</mat-label>
        <input matInput formControlName="allArea">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Житлова площа</mat-label>
        <input matInput formControlName="livingArea">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Площа кухні</mat-label>
        <input matInput formControlName="kitchenArea">
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      class="submit-btn"
      color="primary"
      [disabled]="!form.valid"
      (click)="sendForm()">Розрахувати
    </button>
  </form>
</section>

<section class="table_wrapper">
  <div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="searchedData">

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Прогнозована ціна $</th>
        <td mat-cell *matCellDef="let element"> {{element.price | number : '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Район розташування</th>
        <td mat-cell *matCellDef="let element"> {{getRegionByIndex(element.region)}} </td>
      </ng-container>

      <ng-container matColumnDef="metro">
        <th mat-header-cell *matHeaderCellDef> Метро поряд</th>
        <td mat-cell *matCellDef="let element"> {{element.metro ==='1' ? 'Так': 'Ні'}} </td>
      </ng-container>

      <ng-container matColumnDef="roomFloor">
        <th mat-header-cell *matHeaderCellDef> Поверх розташування</th>
        <td mat-cell *matCellDef="let element"> {{element.roomFloor}} </td>
      </ng-container>

      <ng-container matColumnDef="allFloors">
        <th mat-header-cell *matHeaderCellDef> Кількість поверхів у будинку</th>
        <td mat-cell *matCellDef="let element"> {{element.allFloors}} </td>
      </ng-container>

      <ng-container matColumnDef="rooms">
        <th mat-header-cell *matHeaderCellDef>Кількість кімнат</th>
        <td mat-cell *matCellDef="let element"> {{element.rooms}} </td>
      </ng-container>

      <ng-container matColumnDef="allArea">
        <th mat-header-cell *matHeaderCellDef> Загальна площа</th>
        <td mat-cell *matCellDef="let element"> {{element.allArea}} </td>
      </ng-container>

      <ng-container matColumnDef="livingArea">
        <th mat-header-cell *matHeaderCellDef> Житлова площа</th>
        <td mat-cell *matCellDef="let element"> {{element.livingArea}} </td>
      </ng-container>

      <ng-container matColumnDef="kitchenArea">
        <th mat-header-cell *matHeaderCellDef>Площа кухні</th>
        <td mat-cell *matCellDef="let element"> {{element.kitchenArea}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
